@font-face {
    font-family: 'clack-italic';
    src: url('./fonts/otf-woff2/Clack-LightItalic_otf.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'clack-bold';
    src: url('./fonts/otf-woff2/Clack-Bold_otf.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'clack-bolsitalic';
    src: url('./fonts/otf-woff2/Clack-BoldItalic_otf.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'victor';
    src: url('./fonts/victor_mono/VictorMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'victoritalic';
    src: url('./fonts/victor_mono/VictorMono-MediumItalic.woff2') format('woff2');
    font-style: italic;
}




