/* static/tufte-css-1.7.2/tufte.css */
@charset "UTF-8";

/* Import ET Book styles
   adapted from https://github.com/edwardtufte/et-book/blob/gh-pages/et-book.css */

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
    src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
    src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "et-book";
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
    src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "et-book-roman-old-style";
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
    src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Tufte CSS styles */
html {
    font-size: 15px;
}

body {
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    background-color: #fffff8;
    color: #111;
    max-width: 1400px;
    counter-reset: sidenote-counter;
}

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1.4rem;
    line-height: 1;
}

hr {
    display: block;
    height: 1px;
    width: 55%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

p.subtitle {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
}

.numeral {
    font-family: et-book-roman-old-style;
}

.danger {
    color: red;
}

article {
    padding: 5rem 0rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p,
ol,
ul {
    font-size: 1.4rem;
    line-height: 2rem;
}

p {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding-right: 0;
    vertical-align: baseline;
}

/* Chapter Epigraphs */
div.epigraph {
    margin: 5em 0;
}

div.epigraph > blockquote {
    margin-top: 3em;
    margin-bottom: 3em;
}

div.epigraph > blockquote,
div.epigraph > blockquote > p {
    font-style: italic;
}

div.epigraph > blockquote > footer {
    font-style: normal;
}

div.epigraph > blockquote > footer > cite {
    font-style: italic;
}
/* end chapter epigraphs styles */

blockquote {
    font-size: 1.4rem;
}

blockquote p {
    width: 55%;
    margin-right: 40px;
}

blockquote footer {
    width: 55%;
    font-size: 1.1rem;
    text-align: right;
}

section > p,
section > footer,
section > table {
    width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > ol,
section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
}

li:not(:first-child) {
    margin-top: 0.25rem;
}

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}

/* Links: replicate underline that clears descenders */
a:link,
a:visited {
    color: inherit;
}

.no-tufte-underline:link {
    background: unset;
    text-shadow: unset;
}

a:link, .tufte-underline, .hover-tufte-underline:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(currentColor, currentColor);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    a:link, .tufte-underline, .hover-tufte-underline:hover {
        background-position-y: 87%, 87%, 87%;
    }
}

a:link::selection,
a:link::-moz-selection {
    text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
    background: #b4d5fe;
}

/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -60%;
    min-width: 50%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}

div.table-wrapper {
    overflow-x: auto;
    font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.sans {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em;
}

code, pre > code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. See https://github.com/edwardtufte/tufte-css/issues/81#issuecomment-261953409 */
}

.sans > code {
    font-size: 1.2rem;
}

h1 > code,
h2 > code,
h3 > code {
    font-size: 0.80em;
}

.marginnote > code,
.sidenote > code {
    font-size: 1rem;
}

pre > code {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
    display: block;
}

pre.fullwidth > code {
    width: 90%;
}

.fullwidth {
    max-width: 90%;
    clear:both;
}

span.newthought {
    font-variant: small-caps;
    font-size: 1.2em;
}

input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 760px) {
    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
    }

    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    section > ol {
        width: 90%;
    }

    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    div.table-wrapper,
    table {
        width: 85%;
    }

    img {
        width: 100%;
    }
}

/* static/tocbot-4.9.1/tocbot.css */
.toc{overflow-y:auto}.toc>.toc-list{overflow:hidden;position:relative}.toc>.toc-list li{list-style:none}.toc-list{margin:0;padding-left:10px}a.toc-link{color:currentColor;height:100%}.is-collapsible{max-height:1000px;overflow:hidden;transition:all 300ms ease-in-out}.is-collapsed{max-height:0}.is-position-fixed{position:fixed !important;top:0}.is-active-link{font-weight:700}.toc-link::before{background-color:#EEE;content:' ';display:inline-block;height:inherit;left:0;margin-top:-1px;position:absolute;width:2px}.is-active-link::before{background-color:#54BC4B}

/* static/balloon.css-1.0.0/balloon.css */
:root {
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-font-size: 12px;
  --balloon-move: 4px; }

button[aria-label] {
  overflow: visible; }

[aria-label] {
  position: relative;
  cursor: pointer; }
  [aria-label]:after {
    opacity: 0;
    pointer-events: none;
    transition: all .18s ease-out .18s;
    text-indent: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-style: normal;
    text-shadow: none;
    font-size: var(--balloon-font-size);
    background: var(--balloon-color);
    border-radius: 2px;
    color: #fff;
    content: attr(aria-label);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10; }
  [aria-label]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: var(--balloon-color);
    opacity: 0;
    pointer-events: none;
    transition: all .18s ease-out .18s;
    content: "";
    position: absolute;
    z-index: 10; }
  [aria-label]:hover:before, [aria-label]:hover:after, [aria-label][data-balloon-visible]:before, [aria-label][data-balloon-visible]:after, [aria-label]:not([data-balloon-nofocus]):focus:before, [aria-label]:not([data-balloon-nofocus]):focus:after {
    opacity: 1;
    pointer-events: none; }
  [aria-label]:not([data-balloon-pos]):after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 10px;
    transform: translate(-50%, var(--balloon-move));
    transform-origin: top; }
  [aria-label]:not([data-balloon-pos]):before {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, var(--balloon-move));
    transform-origin: top; }
  [aria-label]:not([data-balloon-pos]):hover:after, [aria-label]:not([data-balloon-pos])[data-balloon-visible]:after {
    transform: translate(-50%, 0); }
  [aria-label]:not([data-balloon-pos]):hover:before, [aria-label]:not([data-balloon-pos])[data-balloon-visible]:before {
    transform: translate(-50%, 0); }
  [aria-label].font-awesome:after {
    font-family: FontAwesome, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  [aria-label][data-balloon-break]:after {
    white-space: pre; }
  [aria-label][data-balloon-break][data-balloon-length]:after {
    white-space: pre-line;
    word-break: break-word; }
  [aria-label][data-balloon-blunt]:before, [aria-label][data-balloon-blunt]:after {
    transition: none; }
  [aria-label][data-balloon-pos="up"]:after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 10px;
    transform: translate(-50%, var(--balloon-move));
    transform-origin: top; }
  [aria-label][data-balloon-pos="up"]:before {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, var(--balloon-move));
    transform-origin: top; }
  [aria-label][data-balloon-pos="up"]:hover:after, [aria-label][data-balloon-pos="up"][data-balloon-visible]:after {
    transform: translate(-50%, 0); }
  [aria-label][data-balloon-pos="up"]:hover:before, [aria-label][data-balloon-pos="up"][data-balloon-visible]:before {
    transform: translate(-50%, 0); }
  [aria-label][data-balloon-pos="up-left"]:after {
    bottom: 100%;
    left: 0;
    margin-bottom: 10px;
    transform: translate(0, var(--balloon-move));
    transform-origin: top; }
  [aria-label][data-balloon-pos="up-left"]:before {
    bottom: 100%;
    left: 5px;
    transform: translate(0, var(--balloon-move));
    transform-origin: top; }
  [aria-label][data-balloon-pos="up-left"]:hover:after, [aria-label][data-balloon-pos="up-left"][data-balloon-visible]:after {
    transform: translate(0, 0); }
  [aria-label][data-balloon-pos="up-left"]:hover:before, [aria-label][data-balloon-pos="up-left"][data-balloon-visible]:before {
    transform: translate(0, 0); }
  [aria-label][data-balloon-pos="up-right"]:after {
    bottom: 100%;
    right: 0;
    margin-bottom: 10px;
    transform: translate(0, var(--balloon-move));
    transform-origin: top; }
  [aria-label][data-balloon-pos="up-right"]:before {
    bottom: 100%;
    right: 5px;
    transform: translate(0, var(--balloon-move));
    transform-origin: top; }
  [aria-label][data-balloon-pos="up-right"]:hover:after, [aria-label][data-balloon-pos="up-right"][data-balloon-visible]:after {
    transform: translate(0, 0); }
  [aria-label][data-balloon-pos="up-right"]:hover:before, [aria-label][data-balloon-pos="up-right"][data-balloon-visible]:before {
    transform: translate(0, 0); }
  [aria-label][data-balloon-pos="down"]:after {
    left: 50%;
    margin-top: 10px;
    top: 100%;
    transform: translate(-50%, calc(var(--balloon-move) * -1)); }
  [aria-label][data-balloon-pos="down"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: var(--balloon-color);
    left: 50%;
    top: 100%;
    transform: translate(-50%, calc(var(--balloon-move) * -1)); }
  [aria-label][data-balloon-pos="down"]:hover:after, [aria-label][data-balloon-pos="down"][data-balloon-visible]:after {
    transform: translate(-50%, 0); }
  [aria-label][data-balloon-pos="down"]:hover:before, [aria-label][data-balloon-pos="down"][data-balloon-visible]:before {
    transform: translate(-50%, 0); }
  [aria-label][data-balloon-pos="down-left"]:after {
    left: 0;
    margin-top: 10px;
    top: 100%;
    transform: translate(0, calc(var(--balloon-move) * -1)); }
  [aria-label][data-balloon-pos="down-left"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: var(--balloon-color);
    left: 5px;
    top: 100%;
    transform: translate(0, calc(var(--balloon-move) * -1)); }
  [aria-label][data-balloon-pos="down-left"]:hover:after, [aria-label][data-balloon-pos="down-left"][data-balloon-visible]:after {
    transform: translate(0, 0); }
  [aria-label][data-balloon-pos="down-left"]:hover:before, [aria-label][data-balloon-pos="down-left"][data-balloon-visible]:before {
    transform: translate(0, 0); }
  [aria-label][data-balloon-pos="down-right"]:after {
    right: 0;
    margin-top: 10px;
    top: 100%;
    transform: translate(0, calc(var(--balloon-move) * -1)); }
  [aria-label][data-balloon-pos="down-right"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-bottom-color: var(--balloon-color);
    right: 5px;
    top: 100%;
    transform: translate(0, calc(var(--balloon-move) * -1)); }
  [aria-label][data-balloon-pos="down-right"]:hover:after, [aria-label][data-balloon-pos="down-right"][data-balloon-visible]:after {
    transform: translate(0, 0); }
  [aria-label][data-balloon-pos="down-right"]:hover:before, [aria-label][data-balloon-pos="down-right"][data-balloon-visible]:before {
    transform: translate(0, 0); }
  [aria-label][data-balloon-pos="left"]:after {
    margin-right: 10px;
    right: 100%;
    top: 50%;
    transform: translate(var(--balloon-move), -50%); }
  [aria-label][data-balloon-pos="left"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: var(--balloon-color);
    right: 100%;
    top: 50%;
    transform: translate(var(--balloon-move), -50%); }
  [aria-label][data-balloon-pos="left"]:hover:after, [aria-label][data-balloon-pos="left"][data-balloon-visible]:after {
    transform: translate(0, -50%); }
  [aria-label][data-balloon-pos="left"]:hover:before, [aria-label][data-balloon-pos="left"][data-balloon-visible]:before {
    transform: translate(0, -50%); }
  [aria-label][data-balloon-pos="right"]:after {
    left: 100%;
    margin-left: 10px;
    top: 50%;
    transform: translate(calc(var(--balloon-move) * -1), -50%); }
  [aria-label][data-balloon-pos="right"]:before {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: var(--balloon-color);
    left: 100%;
    top: 50%;
    transform: translate(calc(var(--balloon-move) * -1), -50%); }
  [aria-label][data-balloon-pos="right"]:hover:after, [aria-label][data-balloon-pos="right"][data-balloon-visible]:after {
    transform: translate(0, -50%); }
  [aria-label][data-balloon-pos="right"]:hover:before, [aria-label][data-balloon-pos="right"][data-balloon-visible]:before {
    transform: translate(0, -50%); }
  [aria-label][data-balloon-length="small"]:after {
    white-space: normal;
    width: 80px; }
  [aria-label][data-balloon-length="medium"]:after {
    white-space: normal;
    width: 150px; }
  [aria-label][data-balloon-length="large"]:after {
    white-space: normal;
    width: 260px; }
  [aria-label][data-balloon-length="xlarge"]:after {
    white-space: normal;
    width: 380px; }
    @media screen and (max-width: 768px) {
      [aria-label][data-balloon-length="xlarge"]:after {
        white-space: normal;
        width: 90vw; } }
  [aria-label][data-balloon-length="fit"]:after {
    white-space: normal;
    width: 100%; }

/* static/css/default.css */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    width: inherit;
    padding: 0;
    margin: 0;
    max-width: inherit;
    background: var(--body-background);
    color: var(--body-color);
}

article {
    margin-left: 22rem;
    max-width: 1400px;
    padding: 3rem 0rem;
}

article ul {
    max-width: 50%;
}

section > h2 {
    width: 55%;
    line-height: 1.45;
}
section:not(.contenuadd) > h3 {
    width: 55%;
    line-height: 1.4;
}
section > h4 {
    width: 55%;
    line-height: 1.3;
}
section > h5 {
    width: 55%;
    line-height: 1.25;
}

section > h2 em {
    font-style: normal;
}

body,
input,
.numeral,
.sidenote-number:after,
.sidenote:before {
    font-family: var(--font-family);
}

/* CSS extracted from inline styles. */
code {
    white-space: pre;
}
pre {
    font-size: 0.9rem;
    width: 52.5%;
    margin-left: 2.5%;
    overflow-x: auto;
}
table {
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
    font-size: 1.1rem;
    word-break: break-word;
}
th {
    border-bottom: 1px solid #111;
}


/* Reset tufte */
p {
    line-height: 2.15rem;
}
.sidenote,
.marginnote {
    margin-right: -50%;
    width: 40%;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.marginnote.infochapitre {
    margin-bottom: 1rem;
}
[role="doc-backlink"] {
    display: none;
}
figure {
    text-align: center;
    margin-top: 2rem;
}
figcaption {
    text-align: center;
    float: none;
    clear: none;
    max-width: 100%;
    position: static;
}
figcaption .sidenote {
    text-align: left;
}
a:link {
    text-decoration-skip-ink: auto;
    text-decoration: underline;
    background: none;
    text-shadow: none;
}
article ul.full-width {
    max-width: 90%;
    padding-left: 0;
}
::target-text,
mark {
    background-color: #FECC63;
    padding: 1px 3px;
    border-radius: 2px;
}

/* static/css/header.css */
header.main {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--header-border-color);
    background: var(--header-background-color);
    color: var(--header-color);
    width: 100%;
    z-index: 2;
    margin: 0;
    padding: .8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.main a.logo {
    background: var(--logo-position) var(--logo-url);
    display: block;
    width: 10rem;
    height: 3rem;
    margin: 0 0 0 5%;
}

header.main .title {
    text-align: center;
}
header.main h1,
header.main h2 {
    margin: 0;
    font-size: 1.6rem;
    line-height: 1.56;
}
header.main h1 {
    margin-bottom: .8rem;
    font-size: 2rem;
}
header.main h1 a {
    text-decoration: none;
}
header.main h1 a:hover {
    text-decoration: underline;
}

header.main nav ul {
    list-style-type: none;
}

header.main h2 a {
    padding: .25rem 3rem .2rem .8rem;
    background: var(--header-dropdown-background);
    text-decoration: none;
    border: 1px solid var(--header-border-color);
    font-style: normal;
}
header.main nav[aria-role="main"] {
    display: none;
}
header.main nav[aria-role="main"].opened {
    display: block;
    position: fixed;
    width: 40rem;
    top: 5.7rem;
    left: calc(50% - 17.5rem);
    background: var(--header-background-color);
    border: 1px solid var(--header-border-color);
    overflow: auto;
    max-height: 82vh;
}
header.main nav[aria-role="main"] ul {
    margin: 1.5rem;
    padding: 0;
}
header.main nav[aria-role="main"] ul li.selected::before {
    content: '☞ ';
}
header.main nav[aria-role="main"] ul li:not(.selected)::before {
    content: '     ';
}

header.main nav[aria-role="prev-next"] ul {
    display: flex;
    line-height: 1;
    margin: .5rem 3rem .5rem 1rem;
    padding: 0;
}
header.main nav[aria-role="prev-next"] li {
    margin: .25rem .4rem;
}
header.main nav[aria-role="prev-next"] li a {
    display: inline-block;
    height: 35px;
    width: 35px;
}
header.main nav[aria-role="prev-next"] li a[rel="prev"] {
    background: url("./svg/chevron-left.svg") center center no-repeat;
    background-size: 100%;
}
header.main nav[aria-role="prev-next"] li a[rel="next"] {
    background: url("./svg/chevron-right.svg") center center no-repeat;
    background-size: 100%;
}

/* Make sure the title is not hidden by the fixed header. */
h1.title {
    margin-top: 5rem;
    line-height: 1.25;
    max-width: 60%;
}
.searchnote {
    float: right;
    min-width: 40%;
    margin-top: 10rem;
}

/* static/css/toc.css */
/* Useful when loading the page with a given anchor. */
article h1::before {
    display: block;
    content: " ";
    height: 10rem;
    margin-top: -10rem;
    visibility: hidden;
}
article h2,
article h3 {
  scroll-margin-top: 10rem;
}
h1, h2,
summary,
.dossier > h3, .video > h3, .pdf > h3 {
    outline: 0;
}

.toc {
    position: fixed;
    top: 11rem;
    left: 2rem;
    max-width: 18rem;
}
.toc ol {
    font-size: 1rem;
}
.toc a {
    text-decoration: none;
}
.toc a:hover {
    text-decoration: underline;
}
.is-active-link::before {
    background-color: var(--toc-border-active-color);
}

/* static/css/contenuadd.css */
section.contenuadd p {
    width: 100%;
}

.contenuadd {
    max-width: 55%;
    background-repeat: no-repeat;
    background-color: var(--contenuadd-background);
    background-position: 99% .5rem;
    background-image: url("./svg/additional.svg");
    border-left: 5px solid var(--contenuadd-border-color);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 1em;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

.contenuadd .contenuadd {
    background: none;
    background-color: var(--contenuadd-background);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 3px solid lightgrey;
    margin-bottom: 1em;
    padding-top: 0;
}

.contenuadd figure {
    margin: 1.5rem;
    max-width: 100%;
}
.contenuadd figure img {
    border: 1px solid var(--contenuadd-border-color);
    padding: 1px;
}
.contenuadd figcaption {
    font-style: italic;
}

.contenuadd h3 {
    font-size: 1.4em;
    font-style:normal;
    outline: 0;
}

.contenuadd.dossier > div.info {
    display:none;
}
.contenuadd p,
.contenuadd ul {
    font-size: large;
    margin-top: 0;
}

.contenuadd p.source {
    font-size: 1em;
    margin-top: 1.4rem;
    color: var(--header-background-color);
}

.contenuadd.highpriority > * {
    margin: 1.5rem;
}
.contenuadd.highpriority iframe {
    margin: .5rem;
}
.contenuadd.highpriority.image {
    background-image: url("./svg/image.svg");
}
.contenuadd.highpriority.video {
    background-image: url("./svg/video.svg");
}
.contenuadd.highpriority.audio {
    background-image: url("./svg/audio.svg");
}
.contenuadd.highpriority.article {
    background-image: url("./svg/article.svg");
}
.contenuadd.highpriority.lien {
    background-image: url("./svg/lien.svg");
}
.contenuadd.highpriority.pdf {
    background-image: url("./svg/pdf.svg");
}

.contenuadd.lowpriority {
    background-color: var(--contenuadd-background);
    background-position: 99% .5rem;
    background-repeat: no-repeat;
    background-image: url("./svg/expand.svg");
    padding: 0;
}
.contenuadd.lowpriority.expanded {
    background-image: url("./svg/minimize.svg");
    cursor: inherit;
    padding-bottom: 0.1rem;
}
.contenuadd.lowpriority h3 {
    padding: 1.5rem 2.5rem 1.5rem 1.5rem;
    cursor: pointer;
    margin: 0;
}
.contenuadd.lowpriority > *:not(h3):not(iframe) {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s, opacity 0.5s linear, height 1s linear;
    padding: 0;
    max-width: 100%;
}
/* Special treatment for iframes because they have native height defined
within the HTML attributes and we cannot retrieve that information once
we set it to 0. */
.contenuadd.lowpriority > iframe {
    display: none;
}
.contenuadd.lowpriority.expanded h3 {
    padding-bottom: 1.5rem;
}
.contenuadd.lowpriority.expanded > *:not(h3):not(iframe) {
    display: block;
    visibility: visible;
    height: inherit;
    opacity: 1;
}
.contenuadd.lowpriority.expanded > iframe {
    display: block;
}

.contenuadd.lowpriority.expanded .description,
.contenuadd.highpriority .description {
    background: white;
    padding: 0 1rem 1rem 1rem;
    margin: 0 .5rem .5rem;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.contenuadd.lowpriority.expanded .credits {
    text-align: right;
    font-style: italic;
}
.contenuadd.lowpriority.expanded .source,
.contenuadd.highpriority .source {
    text-align: center;
    display: inline-block;
}
.contenuadd.lowpriority.expanded .source a.button,
.contenuadd.highpriority .source a.button {
    font-size: 1.2rem;
    background: no-repeat var(--contenuadd-border-color) 80% 40%/20% url("./svg/source.svg");
    color: var(--contenuadd-background);
    padding: .75rem 4rem .75rem 1.5rem;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: none;
}
.contenuadd.lowpriority.expanded .info,
.contenuadd.highpriority .info {
    margin: 0 .5rem;
}
.contenuadd.lowpriority.expanded .info p,
.contenuadd.highpriority .info p {
    text-align: right;
    font-style: italic;
    font-size: .9rem;
    color: #666666;
    margin: 0;
}

.contenuadd.lowpriority.expanded .iframe-video,
.iframe-video {
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 56.25%;
    margin: 0 auto;
}
.contenuadd.lowpriority.expanded .iframe-audio,
.iframe-audio {
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 180px;
    margin: 0 auto;
}
.contenuadd.lowpriority.expanded .iframe-map,
.iframe-map {
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 90%;
    margin: 0 auto;
}
.iframe-video iframe,
.iframe-audio iframe,
.iframe-map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow:hidden;
    padding: 1rem;
}
.contenuadd.lowpriority.expanded .description:has(> pre),
.contenuadd.highpriority .description:has(> pre) {
    padding: 0;
}
.contenuadd pre {
    width: auto;
}
.contenuadd pre > code {
    width: 96%;
}

/* static/css/termeenrichi.css */
span[data-idsp] {
    padding-right: 1.5rem;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: var(--termeenrichi-background-image);
    cursor: pointer;
}
span[data-idsp].expanded {
    background-image: var(--termeenrichi-background-image-expanded);
}
span[data-idsp].termeenrichi {
    cursor: inherit;
    padding: 0 .3rem;
}

.termeenrichi {
    position: relative;
    color: var(--balloon-color-font);
    background-color: var(--balloon-color);
    background-repeat: no-repeat;
    background-position: 1% 8%;
    margin: .5rem 0 1rem 0;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 4px;
}
.termeenrichi .tooltip-title {
    margin-left: 3.5rem;
    padding: 1.2rem 0 1rem 0;
}
.termeenrichi .tooltip-index {
    text-align: center;
    padding: 1rem;
}
    .termeenrichi .tooltip-index a {
        padding: .4rem .7rem;
        border: 2px solid var(--balloon-color-font);
        border-radius: 1rem;
        text-decoration: none;
    }
    .termeenrichi .tooltip-index a:hover {
        color: var(--balloon-color);
        background: var(--balloon-color-font);
    }
.termeenrichi .tooltip-ref {
    text-align: right;
    font-size: 1rem;
    margin: .5rem 1rem;
}

/* static/css/references.css */
/* Useful to avoid late sidenotes to overflow the footer. */
.references {
    clear: both;
}

/* Same as h2. */
.references summary {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

#bibliographie-refs {
    max-width: 92%;
}

.references .zotero {
    background: url("./img/zotero_logo.png") left center / 6% no-repeat;
    padding-left: 2.5rem;
}
.references div {
    max-width: 75%;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
@media (max-width: 1280px) {
    /* Overwrite tufte for responsive text size. */
    .references div {
        font-size: 1.25rem;
        line-height: 1.75;
    }
}
@media (max-width: 760px) {
    /* Overwrite tufte for responsive text size. */
    .references div {
        font-size: 1.1rem;
        line-height: 1.5;
    }
}



/* static/css/indexnp.css */
.indexnp-entry {
    display: flex;
    margin: 0 0 0.5rem 0;
}

.indexnp-entry .text {
    flex-shrink: 0;
}

.indexnp-entry .dots {
    flex-shrink: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.indexnp-entry .dots::after {
    font-weight: normal;
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

.indexnp-entry .number {
    flex-shrink: 0;
    text-align: right;
}

/* static/css/footer.css */
footer {
    border-top: 2px solid var(--footer-border-color);
    background: var(--footer-background-color);
    width: 100%;
}

footer nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer nav ul li {
    height: 100%;
    margin: 0;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}
footer nav ul li:first-child a {
    background: url("./svg/chevron-left.svg") center left no-repeat;
    padding-left: 2rem !important;
}
footer nav ul li:last-child a {
    background: url("./svg/chevron-right.svg") center right no-repeat;
    padding-right: 2rem !important;
}
footer nav ul li:not(:first-child):not(:last-child) {
    margin-top: 0; /* Override tufte.css */
    border-left: 2px solid var(--footer-border-color);
    border-right: 2px solid var(--footer-border-color);
    white-space: nowrap;
    height: 4rem;
    padding-top: .8rem;
}
footer nav ul li a:link {
    padding: .1rem;
    text-decoration: none;
}

/* static/css/responsive.css */
@media (max-width: 1280px) {
    /* Overwrite tufte for responsive text size. */
    p,
    ol,
    ul {
        font-size: 1.25rem;
        line-height: 1.75;
    }
}

@media (max-width: 1025px) {
    /* Use a smaller logo */
    header.main a.logo {
        background: var(--logo-position) var(--small-logo-url);
    }

    /* Adapt header spacing/margin sizes */
    header.main a.logo {
        width: 4rem;
        margin-left: 1rem;
    }
    header.main h1 {
        margin-bottom: 0;
    }
    header.main nav[aria-role="prev-next"] ul {
        margin-right: 1rem;
    }

    /* Remove inter-chapter navigation. */
    header.main h2 a,
    header.main nav[aria-role="main"].opened {
        display: none;
    }

    /* Remove quick-access sidebar. */
    .toc {
        display: none;
    }
    article {
        margin-left: 1rem;
    }

    /* Remove bottom navigation labels. */
    footer nav .label {
        display: none;
    }

    /* To avoid scrollbars. */
    section {
        max-width: 99%;
    }
    .references p {
        max-width: 80%;
    }
    article ul,
    article ul li {
        max-width: 100%;
    }
    blockquote {
        margin-left: 0;
    }
    blockquote ul {
        width: 55%;
        margin-right: 40px;
    }
    figure .sidenote {
        margin-right: 0;
        width: 100%;
    }
}

@media (max-width: 760px) {
    /* Overwrite tufte for responsive text size. */
    p,
    ol,
    ul {
        font-size: 1.1rem;
        line-height: 1.5;
    }

    /* Overwrite tufte to avoid scrollbars. */
    hr,
    section > p,
    section > footer,
    section > table,
    section > ol , ul  {
        width: 80%;
        font-size: 1.1rem;
        line-height: 1.5;
    }
    header > h1.title {
        font-size: 2.2rem;
    }
    section > h2 {
        font-size: 1.8rem;
    }
    section > h3,
    .references summary {
        font-size: 1.6rem;
    }
    section > h4 {
        font-size: 1.4rem;
    }

    /* Hide logo */
    header.main a.logo {
        display: none;
    }
    /* Give some room to the title */
    header.main h1 {
        padding: 0 .5rem;
    }
    /* Hide prev/next */
    header.main nav[aria-role="prev-next"] {
        display: none;
    }

    footer nav ul {
        flex-direction: column;
    }
    footer nav ul li:not(:first-child):not(:last-child) {
        text-align: center;
    }
    footer nav ul li:last-child {
        margin-top: 0;
        padding-top: 0;
        text-align: right;
    }
}

/* static/css/fonts.css */
@font-face {
    font-family: 'averiaseriflibre-light-custom';
    src: url('./fonts/averiaseriflibre-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'averialibre-bold-custom';
    src: url('./fonts/averialibre-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'averialibre-bold-custom';
    src: url('./fonts/averialibre-bolditalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* static/css/vars.css */
/* Beware: Safari does not handle well relative paths in CSS vars.
   See https://bugs.webkit.org/show_bug.cgi?id=190807 for reference. */
:root {
    --font-family: 'averiaseriflibre-light-custom';
    --font-family-headers: 'averialibre-bold-custom';
    --body-background: #fff;
    --body-color: #432c2c;

    --logo-position: no-repeat left center/100%;
    --logo-url: url("./img/pressoir-logo.png");
    --small-logo-url: url("./svg/pum-logo-couleur.svg");

    --balloon-color: #686868;
    --balloon-color-font: #e9ecef;
    --balloon-font-size: .9rem;

    --termeenrichi-background-image: url("./svg/plus.svg");
    --termeenrichi-background-image-expanded: url("./svg/minus.svg");

    --header-background-color: #eaeaea;
    --header-border-color: #f00;
    --header-color: #000;
    --header-dropdown-background: 99% center no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'><path d='M6 9l6 6 6-6'/></svg>");

    --toc-border-color: #b3b3b3;
    --toc-border-active-color: #000;

    --contenuadd-border-color: #b3b3b3;
    --contenuadd-background: #eaeaea;

    --footer-background-color: #eaeaea;
    --footer-border-color: #f00;
}

/* static/css/custom.css */

                    .termeenrichi.personnalite {
                        background-image: url("./svg/personnalite.svg");
                    }
                    /* The place to define a new theme/identity. */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-headers);
}

header.main a.logo {
  width: 322px;
}

header.main {
    border-bottom-width: 2px;
}

header.main h1 {
    font-variant: small-caps;
}

header.main h2 a {
    border-color: var(--body-color);
}

h1.title {
    margin-top: 7rem;
    font-size: 4rem;
    max-width: 60rem;
    line-height: 1.15;
    margin-bottom: 3rem;
    color: black;
    font-variant: small-caps;
}
h1.title::after {
    display: block;
    content: " ";
    height: 2px;
    width: 50%;
    background: red;
    margin-top: 2rem;
    margin-left: 3rem;
}

blockquote::after,
.introchapitre::after,
.sidenote::after,
.marginnote::after {
    display: block;
    content: " ";
    height: 2px;
    width: 35%;
    background: red;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 8rem;
}

blockquote {
    background: no-repeat top left/3rem url("./svg/quote.svg");
    padding-top: 1rem;
    padding-left: 3.5rem;
    margin: 4rem 0 4rem -1.5rem;
}
blockquote::after,
.introchapitre::after {
    width: 13%;
    margin-left: 30rem;
}

blockquote p {
    margin-top: 0;
    width: 54%;
}

@media (max-width: 760px) {
    blockquote::after,
    .introchapitre::after {
        width: 13%;
        margin-left: 10rem;
    }

    blockquote p,
    blockquote ul,
    blockquote ol {
        width: 80%;
        font-size: medium;
        line-height: 1.5;
    }
}

img {
    border-bottom: 2px solid red;
}
blockquote img {
    border-bottom: none;
    margin: 2rem;
}

.introchapitre,
.concluchapitre {
    font-family: 'averialibre-bold-custom';
    width: 55%;
}
.introchapitre {
    margin-bottom: 5rem;
}

.introchapitre p::first-letter,
.concluchapitre p::first-letter {
  font-size: 5rem;
  padding-left: .5rem;
  padding-right: .5rem;
  float: left;
  color: red;
}

.epigraphe {
    width: 50%;
    text-align: right;
    margin: 1rem 0 5rem 7rem;
}
.epigraphe p {
    margin-right: 2rem;
    font-size: 1.1rem;
    color: black;
}
.epigraphe p .citation {
    display: block;
}

.contenuadd,
.contenuadd a,
.contenuadd p.source {
    color: var(--body-color);
}
.contenuadd.lowpriority.expanded .source a.button,
.contenuadd.highpriority .source a.button {
    background-color: var(--body-color);
}

footer {
    border-top: 2px solid #b3b3b3;
    background: white;
    width: 100%;
}

footer nav ul {
    font-variant: small-caps;
}

footer nav ul li:not(:first-child):not(:last-child) {
    border-left: none;
    border-right: none;
}
footer nav ul li:not(:first-child):not(:last-child)::before {
    display: inline-block;
    content: " ";
    height: 40%;
    width: 2px;
    background: var(--footer-border-color);
    margin-right: 1rem;
}
footer nav ul li:not(:first-child):not(:last-child)::after {
    display: inline-block;
    content: " ";
    height: 40%;
    width: 2px;
    background: var(--footer-border-color);
    margin-left: 1rem;
}

@media (max-width: 1025px) {
    header.main a.logo {
        background-image: url("./svg/pum-logo-couleur.svg");
    }
}

table tbody tr.odd {
    background: var(--contenuadd-background);
}
table tbody td {
    padding: 0.2rem;
    min-width: 65px;
}

.grand-tableau table {
    font-size: 0.75em;
}

.contenuadd.lowpriority.expanded .description:has(> pre),
.contenuadd.highpriority .description:has(> pre) {
    padding: 0;
}
.contenuadd pre {
    width: auto;
}

pre > code {
    font-size: 1rem;
    white-space: pre-wrap;
    width: auto;
}
.contenuadd pre > code {
    width: 98%;
}

article ul {
    max-width: none;
}

    code {
      font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
      font-size: 85%;
      margin: 0;
    }
    pre {
      margin: 1em 0;
      overflow: auto;
    }
    pre code {
      padding: 0;
      overflow: visible;
      overflow-wrap: normal;
    }
    .sourceCode {
     width:55%;
     background-color: transparent;
     overflow: visible;
    }
    .sourceCode .sourceCode,
    li .sourceCode {
        width: 98%;
    }
code{white-space: pre-wrap;}
    span.smallcaps{font-variant: small-caps;}
    span.underline{text-decoration: underline;}
    div.column{display: inline-block; vertical-align: top; width: 50%;}
    div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
    ul.task-list{list-style: none;}
    pre > code.sourceCode { white-space: pre; position: relative; }
    pre > code.sourceCode > span { display: inline-block; line-height: 1.25; width: 98%; }
    pre > code.sourceCode > span.highlight { background: #00ffcf3b; }
    pre > code.sourceCode > span:empty { height: 1.2em; }
    .sourceCode { overflow: visible; }
    code.sourceCode > span { color: inherit; text-decoration: inherit; }
    div.sourceCode { margin: 1em 0; }
    pre.sourceCode { margin: 0; }
    @media screen {
    div.sourceCode { overflow: auto; }
    }
    @media print {
    pre > code.sourceCode { white-space: pre-wrap; }
    pre > code.sourceCode > span { text-indent: -5em; padding-left: 5em; }
    }
    pre.numberSource code
      { counter-reset: source-line 0; }
    pre.numberSource code > span
      { position: relative; left: -4em; counter-increment: source-line; }
    pre.numberSource code > span > a:first-child::before
      { content: counter(source-line);
        position: relative; left: -1em; text-align: right; vertical-align: baseline;
        border: none; display: inline-block;
        -webkit-touch-callout: none; -webkit-user-select: none;
        -khtml-user-select: none; -moz-user-select: none;
        -ms-user-select: none; user-select: none;
        padding: 0 4px; width: 4em;
        color: #aaaaaa;
      }
    pre.numberSource { margin-left: 3em; border-left: 1px solid #aaaaaa;  padding-left: 4px; }
    div.sourceCode
      {  background-color: #f8f8f8; }
    @media screen {
    pre > code.sourceCode > span > a:first-child::before { text-decoration: underline; }
    }
    code span.al { color: #ef2929; } /* Alert */
    code span.an { color: #8f5902; font-weight: bold; font-style: italic; } /* Annotation */
    code span.at { color: #c4a000; } /* Attribute */
    code span.bn { color: #0000cf; } /* BaseN */
    code span.cf { color: #204a87; font-weight: bold; } /* ControlFlow */
    code span.ch { color: #4e9a06; } /* Char */
    code span.cn { color: #000000; } /* Constant */
    code span.co { color: #8f5902; font-style: italic; } /* Comment */
    code span.cv { color: #8f5902; font-weight: bold; font-style: italic; } /* CommentVar */
    code span.do { color: #8f5902; font-weight: bold; font-style: italic; } /* Documentation */
    code span.dt { color: #204a87; } /* DataType */
    code span.dv { color: #0000cf; } /* DecVal */
    code span.er { color: #a40000; font-weight: bold; } /* Error */
    code span.ex { } /* Extension */
    code span.fl { color: #0000cf; } /* Float */
    code span.fu { color: #204a87; } /* Function */
    code span.im { } /* Import */
    code span.in { color: #8f5902; font-weight: bold; font-style: italic; } /* Information */
    code span.kw { color: #204a87; font-weight: bold; } /* Keyword */
    code span.op { color: #ce5c00; font-weight: bold; } /* Operator */
    code span.ot { color: #8f5902; } /* Other */
    code span.pp { color: #8f5902; font-style: italic; } /* Preprocessor */
    code span.sc { color: #000000; } /* SpecialChar */
    code span.ss { color: #4e9a06; } /* SpecialString */
    code span.st { color: #4e9a06; } /* String */
    code span.va { color: #000000; } /* Variable */
    code span.vs { color: #4e9a06; } /* VerbatimString */
    code span.wa { color: #8f5902; font-weight: bold; font-style: italic; } /* Warning */
    .display.math{display: block; text-align: center; margin: 0.5rem auto;}

                